In [2]:
#make necesarry imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.spatial.distance import correlation, cosine
import ipywidgets as widgets
from IPython.display import display, clear_output
from sklearn.metrics import pairwise_distances
from sklearn.metrics import mean_squared_error
from math import sqrt
import sys, os
from contextlib import contextmanager

In [3]:
#M is user-item ratings matrix where ratings are integers from 1-10
M = np.asarray([[3,7,4,9,9,7], 
                [7,0,5,3,8,8],
               [7,5,5,0,8,4],
               [5,6,8,5,9,8],
               [5,8,8,8,10,9],
               [7,7,0,4,7,8]])
M=pd.DataFrame(M)

#declaring k,metric as global which can be changed by the user later
global k,metric
k=4
metric='cosine' #can be changed to 'correlation' for Pearson correlation similaries

In [3]:
M

   0  1  2  3   4  5
0  3  7  4  9   9  7
1  7  0  5  3   8  8
2  7  5  5  0   8  4
3  5  6  8  5   9  8
4  5  8  8  8  10  9
5  7  7  0  4   7  8

### User-based Recommendation Systems

In [8]:
#get cosine similarities for ratings matrix M; pairwise_distances returns the distances between ratings and hence
#similarities are obtained by subtracting distances from 1
cosine_sim = pairwise_distances(M, metric="manhattan")

In [9]:
#Cosine similarity matrix
pd.DataFrame(cosine_sim)

      0     1     2     3     4     5
0   0.0  20.0  20.0  12.0  11.0  16.0
1  20.0   0.0  12.0  14.0  21.0  14.0
2  20.0  12.0   0.0  16.0  23.0  16.0
3  12.0  14.0  16.0   0.0   7.0  14.0
4  11.0  21.0  23.0   7.0   0.0  19.0
5  16.0  14.0  16.0  14.0  19.0   0.0

In [4]:
#get pearson similarities for ratings matrix M
pearson_sim = 1-pairwise_distances(M, metric="correlation")

In [7]:
dataset={
 'Lisa Rose': {
 'Lady in the Water': 2.5,
 'Snakes on a Plane': 3.5,
 'Just My Luck': 3.0,
 'Superman Returns': 3.5,
 'You, Me and Dupree': 2.5,
 'The Night Listener': 3.0},
 'Gene Seymour': {'Lady in the Water': 3.0,
 'Snakes on a Plane': 3.5,
 'Just My Luck': 1.5,
 'Superman Returns': 5.0,
 'The Night Listener': 3.0,
 'You, Me and Dupree': 3.5},
 
 'Michael Phillips': {'Lady in the Water': 2.5,
 'Snakes on a Plane': 3.0,
 'Superman Returns': 3.5,
 'The Night Listener': 4.0},
 'Claudia Puig': {'Snakes on a Plane': 3.5,
 'Just My Luck': 3.0,
 'The Night Listener': 4.5,
 'Superman Returns': 4.0,
 'You, Me and Dupree': 2.5},
 
 'Mick LaSalle': {'Lady in the Water': 3.0,
 'Snakes on a Plane': 4.0,
 'Just My Luck': 2.0,
 'Superman Returns': 3.0,
 'The Night Listener': 3.0,
 'You, Me and Dupree': 2.0},
 
 'Jack Matthews': {'Lady in the Water': 3.0,
 'Snakes on a Plane': 4.0,
 'The Night Listener': 3.0,
 'Superman Returns': 5.0,
 'You, Me and Dupree': 3.5},
 
 'Toby': {'Snakes on a Plane':4.5,
 'You, Me and Dupree':1.0,
 'Superman Returns':4.0}}

In [8]:
dataset

{'Lisa Rose': {'Lady in the Water': 2.5,
  'Snakes on a Plane': 3.5,
  'Just My Luck': 3.0,
  'Superman Returns': 3.5,
  'You, Me and Dupree': 2.5,
  'The Night Listener': 3.0},
 'Gene Seymour': {'Lady in the Water': 3.0,
  'Snakes on a Plane': 3.5,
  'Just My Luck': 1.5,
  'Superman Returns': 5.0,
  'The Night Listener': 3.0,
  'You, Me and Dupree': 3.5},
 'Michael Phillips': {'Lady in the Water': 2.5,
  'Snakes on a Plane': 3.0,
  'Superman Returns': 3.5,
  'The Night Listener': 4.0},
 'Claudia Puig': {'Snakes on a Plane': 3.5,
  'Just My Luck': 3.0,
  'The Night Listener': 4.5,
  'Superman Returns': 4.0,
  'You, Me and Dupree': 2.5},
 'Mick LaSalle': {'Lady in the Water': 3.0,
  'Snakes on a Plane': 4.0,
  'Just My Luck': 2.0,
  'Superman Returns': 3.0,
  'The Night Listener': 3.0,
  'You, Me and Dupree': 2.0},
 'Jack Matthews': {'Lady in the Water': 3.0,
  'Snakes on a Plane': 4.0,
  'The Night Listener': 3.0,
  'Superman Returns': 5.0,
  'You, Me and Dupree': 3.5},
 'Toby': {'Snakes on a Plane': 4.5,
  'You, Me and Dupree': 1.0,
  'Superman Returns': 4.0}}

In [9]:
import pandas as pd 
  
# Creating the first dataframe 
df1 = pd.DataFrame({"A":[1, 5, 7, 8],  
                    "B":[5, 8, 4, 3], 
                    "C":[10, 4, 9, 3]}) 
  
# Creating the second dataframe  
df2 = pd.DataFrame({"A":[5, 3, 6, 4], 
                    "B":[11, 2, 4, 3], 
                    "C":[4, 3, 8, 5]}) 
  
# Print the first dataframe 
print(df1, "\n") 
  
# Print the second dataframe 
print(df2)

   A  B   C
0  1  5  10
1  5  8   4
2  7  4   9
3  8  3   3

   A   B  C
0  5  11  4
1  3   2  3
2  6   4  8
3  4   3  5